<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SampleBlazorWebAssembly</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @foreach (var item in MenuDic)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@item.Key" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> @item.Value
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private Dictionary<string, string> MenuDic { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MenuDic = new Dictionary<string, string> {
            { "", "Home" },
            { "counter", "Counter" },
            { "fetchdata", "Fetch data" },
            { "render-from-js", "Render from JS" },
            { "handle-custom-event-page", "Handle custom event page" },
            { "dynamiccomponent-example-1", "Dynamic component example 1" },
            { "dynamiccomponent-example-2", "Dynamic component example 2" },
        };
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
